.header{
    justify-content: center;
    display: flex;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #00FF00;
    border: double #FFFFFF;
    font-size: 50px;
}
.aboutBackground{
    background: chocolate;
    font-size: medium;
    display: flex;
    justify-content: center;
}
.homeBackground{
    background: darkkhaki;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.expBackground{
    justify-content: center;
    display: flex;
    font-size: 40px;
}
body{
    background: cornsilk;
}
.grid{
    font-size: 40px;
    cursor: auto;

}
a:link{
    color:green;
    text-decoration: none;
}
a:visited{
    color: blue;
    text-decoration: none;
}
a:hover{
    transform: scale(1.2);
}